*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family:monospace;
    font-size: 100%;
    letter-spacing: 1px;
}

html{
    --app_bg_color:rgb(8, 26, 30);

    --cal_bg_color: rgba(236, 247, 247, 0.616);
}

.app{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--app_bg_color);
    user-select: none;
}

.calculator{
    height: 350px;
    width: 250px;
    background-color: var(--cal_bg_color);
    position: relative;
    border: 2px ridge black;
}

.calculator .title{
    position: absolute; top:5px; left:5px; 
    font-weight:500; letter-spacing: 3px;
    font-size: .85em;
}

.calculator_inner{
    background-color: var(--cal_bg_color);
    height: 92%;
    width: 95%;
    filter: contrast(0.4);
    position: absolute;
    top: 50%; left: 50%; transform:translate(-50%,-47%); 
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 5px;
    grid-template-rows: repeat(8,1fr);
    padding: 5px;
}

.screen{
    grid-column:1/6;
    grid-row:1/3;
    background-color: black;
    text-align: right;
    color: white;
    position: relative;
    overflow-x: hidden;
}

.screen_inner_1{
    height: 40%;
    background-color: rgb(49, 41, 41);
    padding: 5px;
    padding-top:10px;
    font-size: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.expr{
    width: fit-content;
}
.over_sym{
    background-color: rgb(49, 41, 41);
    position: absolute;
    left: 0;
    font-size: 1.2em;
    color: rgb(213, 159, 23);
}
.display_none{
    display: none;
}
.screen_inner_2{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-family: monospace;
    font-size: 150%;
    height: 60%;
    width: 100%; 
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function:linear;
    transition-delay:0s;
}

.btn{
    border: 1px solid grey;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number_btn{
    font-weight: 1000;
    background-color: white;
}

.equals_btn{
    grid-column: 5/6;
    grid-row:7/9;
    font-size: 200%;
}

.zero_btn{
    grid-column: 1/3;
    grid-row:8/9;
}

.btn:hover{
    background-color: red;
    color:white;
    cursor: pointer;
}

.btn:active{
    background-color: green;
    transform: scale(90%,90%);
}

.exit{
    background-color: rgb(217, 9, 9);
    padding: .12em 1.25em;
    position: absolute;
    right: 10px;
    color: rgb(221, 212, 212);
    font-size: 1.2em;
}
.exit:hover{
    background-color: rgb(172, 7, 7);
    color: white;
}

@media screen and (orientation:portrait) and (any-pointer:coarse) {
    .calculator{
        width: 100%;
        height: 100vh;
    }
    .btn:hover{
        background-color: inherit;
        color:inherit;
    }
    
    .btn:active{
        background-color: red;
    }
    .calculator .title{
        font-size: 1.15em;
    }
    .screen_inner_1{
        font-size: 1.5em;
    }
    .screen_inner_2{
        font-size: 2.1em;
    }
}